<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="{{ url_for('index') }}">Flask MySQL App</a></h1>
            <nav>
                {% if session.logged_in %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Registrar</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% for message in get_flashed_messages() %}
                
            {% endfor %}
    
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Flask MySQL App</p>
        </div>
    </footer>
</body>
</html>